.player {
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 16px;
  position: relative;
  height: 27vh;
  background-color: #282828;
  border-radius: 8px;
  padding: 18px;
  overflow: hidden;
}

.buy-button {
  position: absolute;
  bottom: 18px;
  right: 18px;
  background-color: #5b1fa4;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  gap: 5px;
}

.buy-button:hover {
  background-color: #a56fe8;
}

.song-title {
  position: absolute;
  bottom: 18px;
  left: 18px;
  color: white;
  font-size: 1em;
}

.thumbnail {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: opacity 0.3s ease;
}

.play-button {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2em;
  cursor: pointer;
  outline: none;
}

.player:hover .thumbnail {
  opacity: 0.7;
}

.purchase-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 100;
}

@media (max-width: 768px) {
  .player {
    max-width: 170px;
    margin-bottom: 10px;
    height: 220px;
    padding: 10px;
  }

  .thumbnail {
    margin: 0 auto;
  }

  .play-button {
    top: 40%;
  }

  .buy-button {
    padding: 6px 10px;
    font-size: 1em;
    bottom: 10px;
    right: 10px;
  }
}

@media (max-width: 576px) {
  .player {
    max-width: 130px;
    margin-bottom: 10px;
    height: 170px;
    padding: 10px;
  }

  .thumbnail {
    margin: 0 auto;
  }

  .play-button {
    top: 40%;
  }

  .buy-button {
    padding: 6px 10px;
    font-size: 0.7em;
    bottom: 10px;
    right: 10px;
  }
}